// No proposals div
.home__empty {
  text-align: center;

  h3 {
    font-weight: 500;
    font-size: 16px;
    color: #141518;
    opacity: 0.8;
  }
}

// Individual proposal items
.home__proposal {
  border-bottom: 1px solid #dddade;
  padding: 16px 28px;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;

  > div {
    width: auto;
    flex: 1 1 50%;
    display: flex;
    align-items: center;
  }

  // Proposal info
  div:nth-of-type(1) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h4 {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #141518;
      opacity: 0.8;
      margin: 0px;
    }

    span {
      font-weight: 500;
      font-size: 13px;
      line-height: 150%;
      color: #000;
      opacity: 0.5;
      margin: 4px 0px 0px 0px;
    }
  }

  // Status
  div:nth-of-type(2) {
    justify-content: flex-end;

    div {
      width: 16px;
      height: 16px;
      margin-right: 12px;
      border-radius: 50%;
    }
  }
}

.home__proposal:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: none;
}

.home__proposal:hover {
  background-color: #f4f4f4;
}
