.card__progress {
  padding: 24px 28px 32px 28px;

  .card__progress_bar {
    height: 13px;
    border-radius: 18px;
    background-color: rgba(231, 52, 122, 0.2);

    > div {
      height: 13px;
      background-color: var(--color-pink);
      border-radius: 18px;
    }
  }

  .card__delegated {
    margin: 20px 0px;

    h4 {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      margin: 0px;
      color: rgb(17, 17, 17, 0.3);
      text-transform: uppercase;
    }

    h1 {
      margin-top: 4px;
      margin-bottom: 0px;
      color: rgba(0, 0, 0, 0.3);
      font-size: 32px;
      line-height: 39px;

      span {
        color: var(--color-pink);
      }
    }
  }

  p {
    margin: 0px;
  }
}

.card__details {
  .card__details_actions {
    div {
      padding: 16px 28px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      > span {
        display: inline-block;
        vertical-align: top;
        width: 5%;
        color: rgba(20, 21, 24, 0.5);
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
      }

      p {
        font-size: 18px;
        line-height: 28px;
        color: #24262d;
        display: inline-block;
        vertical-align: top;
        word-break: break-all;
        width: 95%;
        margin: 0px;

        a {
          color: var(--color-pink);
        }
      }
    }
  }

  .card__details_content {
    padding: 24px 28px 36px 28px;
    color: rgba(17, 17, 17, 0.8);

    p,
    span,
    li {
      line-height: 150%;
      font-size: 16px;
      font-weight: 400;
      color: #24262d;
    }

    br:nth-of-type(1),
    br:nth-of-type(2) {
      display: none;
    }

    a {
      text-decoration: underline;
    }

    a:hover {
      opacity: 0.8;
    }

    // FIXME: scrappy fix for Markdown rendering
    pre {
      code {
        line-height: 150%;
        font-size: 16px;
        color: #24262d;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        background-color: transparent;
        padding: 0px;
      }
    }

    code {
      color: #24262d;
      background-color: rgb(245, 245, 245);
      padding: 2px;
      border-radius: 5px;
    }
  }
}

// Responsiveness
@media screen and (max-width: 500px) {
  .card__progress {
    padding: 16px;

    .card__delegated {
      margin: 16px 0px;

      h4 {
        font-weight: 700;
        font-size: 12px;
        line-height: 14.5px;
      }

      h1 {
        margin-top: 4px;
        font-size: 22px;
        line-height: 26.6px;
      }
    }

    p {
      font-size: 13px;
      line-height: 18px;
    }
  }

  .card__details {
    .card__details_actions {
      div {
        padding: 12px 16px;

        > span {
          font-size: 13px;
          line-height: 18.2px;
        }

        p {
          font-size: 13px;
          line-height: 18.2px;
        }
      }
    }

    .card__details_content {
      padding: 16px;

      p,
      span,
      li,
      code {
        line-height: 19.5px;
        font-size: 13px !important;
      }

      ul {
        padding-left: 25px;
      }
    }
  }
}
