.breadcrumb {
  // Last page routing
  .breadcrumb__last {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #ACACAB;
    will-change: opacity;
    transition: 0.1s ease-in-out;
    display: block;
  }

  .breadcrumb__last:hover {
    opacity: 0.8;
  }

  // Current proposal state
  .breadcrumb__state {
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-orange);
    padding: 6px 8px;
    border-radius: 8px;
    background-color: #f5a78814;
    margin-top: 12px;
    display: inline-block;
  }

  // Title
  h1 {
    color: white;
  }

  .breadcrumb__details {
    span {
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      color: #ACACAB;
      vertical-align: middle;
      display: inline-block;

      .breadcrumb__address_mobile {
        display: none;
      }

      a {
        color: var(--color-orange);
        font-family: VCR, san-serif;
        will-change: opacity;
        transition: 0.1s ease-in-out;
        word-break: break-all;
      }

      a:hover {
        opacity: 0.8;
      }
    }

    // Circle div
    div {
      background-color: #ACACAB;
      width: 4px;
      height: 4px;
      vertical-align: middle;
      display: inline-block;
      margin: 0px 11px;
      border-radius: 50%;
    }
  }
}

// Responsiveness
@media screen and (max-width: 500px) {
  .breadcrumb {
    .breadcrumb__state {
      font-size: 13px;
      line-height: 17px;
      margin-top: 24px;
    }

    h1 {
      font-size: 24px;
      line-height: 33.6px;
      margin: 8px 0px;
    }

    .breadcrumb__details {
      span {
        line-height: 25px;

        .breadcrumb__address_desktop {
          display: none;
        }

        .breadcrumb__address_mobile {
          display: inline;
        }
      }
    }
  }
}
