.breadcrumb {
  // Last page routing
  .breadcrumb__last {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #111111;
    opacity: 0.5;
    will-change: opacity;
    transition: 0.1s ease-in-out;
    display: block;
  }

  .breadcrumb__last:hover {
    opacity: 0.4;
  }

  // Current proposal status
  .breadcrumb__status {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: var(--color-pink);
    padding: 4px 8px;
    border-radius: 24px;
    border: 1px solid var(--color-pink);
    margin-top: 36px;
    display: inline-block;
  }

  // Title
  h1 {
    font-size: 38px;
    line-height: 53px;
    font-weight: 600;
    margin: 12px 0px;
    word-break: break-word;
  }

  .breadcrumb__details {
    span {
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      color: rgba(17, 17, 17, 0.5);
      vertical-align: middle;
      display: inline-block;

      .breadcrumb__address_mobile {
        display: none;
      }

      a {
        color: #5f585b;
        will-change: opacity;
        transition: 0.1s ease-in-out;
        word-break: break-all;
      }

      a:hover {
        opacity: 0.8;
      }
    }

    // Circle div
    div {
      background-color: rgba(17, 17, 17, 0.5);
      width: 4px;
      height: 4px;
      vertical-align: middle;
      display: inline-block;
      margin: 0px 11px;
      border-radius: 50%;
    }
  }
}

// Responsiveness
@media screen and (max-width: 500px) {
  .breadcrumb {
    .breadcrumb__status {
      font-size: 13px;
      line-height: 17px;
      margin-top: 24px;
    }

    h1 {
      font-size: 24px;
      line-height: 33.6px;
      margin: 8px 0px;
    }

    .breadcrumb__details {
      span {
        line-height: 25px;

        .breadcrumb__address_desktop {
          display: none;
        }

        .breadcrumb__address_mobile {
          display: inline;
        }
      }
    }
  }
}
