.card {
  display: block;
  background-color: #121218;
  background-image: linear-gradient(
    96.84deg,
    #f5a7880A 1.04%,
    #f5a78802 98.99%
  );
  border-radius: 8px;
  margin: 48px 0px;

  .card__top {
    height: 64px;
    padding: 0px 28px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    align-items: center;

    div {
      width: auto;
      flex: 1 1 50%;
      display: flex;
      align-items: center;
    }

    h3 {
      font-size: 16px;
      color: #FFFFFF;
      font-family: VCR,sans-serif;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
    }

    .card__top_action {
      text-align: right;
      justify-content: flex-end;

      h3 {
        opacity: 0.5;
      }

      button {
        background-color: #f5a78814;
        font-family: VCR, sans-serif;
        text-transform: uppercase;
        padding: 12px 16px;
        border: none;
        font-size: 16px;
        border-radius: 8px;
        display: inline-block;
        cursor: pointer;
        will-change: transform;
        color: var(--color-orange);
      }

      button:hover {
        opacity: 0.64;
      }

      button:disabled {
        background-color: #f076a5;
        cursor: not-allowed;
      }

      button:disabled:hover {
        background-color: #f076a5;
        transform: none;
      }
    }
  }
}

// Force top margin
.card__shortMargin {
  margin-top: 24px;
}

// Responsiveness
@media screen and (max-width: 500px) {
  .card {
    margin: 24px 0px;

    .card__top {
      height: 59px;
      padding: 0px 16px;

      h3 {
        font-size: 16px;
        line-height: 19px;
      }

      .card__top_action {
        button {
          font-size: 14px;
          padding: 8px 16px;
        }
      }
    }
  }
}
