.layout__header {
  height: 70px;
  padding: 0px 28px;
  border-bottom: 1px solid #dddade;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  background-color: var(--color-bg);

  > div {
    vertical-align: top;
    display: inline-block;
    height: 100%;
  }

  // Right: logo
  .layout__header_logo {
    width: 100px;

    .layout__header_logo_desktop {
      margin-top: 23px;
      width: 95px;
      display: block;
    }

    .layout__header_logo_mobile {
      display: none !important;
      width: 22px;
      margin-top: 19px;
      display: inline-block;
    }

    a {
      transition: ease 0.2s;

      :hover {
        opacity: 0.7;
      }
    }
  }

  // Left: Authentication
  .layout__header_auth {
    width: calc(100% - 100px);

    // Connected state
    .layout__header_auth_connected {
      float: right;
      margin-top: 16.5px;
      background-color: rgb(237, 238, 242);
      cursor: pointer;
      border-radius: 12px;

      span {
        font-weight: 500;
      }

      div {
        padding-left: 0.75rem;
        padding-right: 0.5rem;
        display: inline-block;
      }

      button {
        outline: none;
        background-color: rgb(247, 248, 250);
        border: 1px solid rgb(237, 238, 242);
        user-select: none;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 12px;
        font-size: 16px;
        will-change: transform;
        transition: transform 450ms ease 0s;

        span {
          margin: 0px 0.5rem 0px 0.25rem;
          vertical-align: middle;
        }

        div {
          vertical-align: middle;
        }
      }

      button:focus,
      button:hover {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 153, 201);
        transform: scale(0.99);
      }
    }

    // Authentication button
    .layout__header_auth_connect {
      background-color: rgb(253, 234, 241);
      border: 1px solid rgb(253, 234, 241);
      color: var(--color-pink);
      font-weight: 500;
      transition: transform 450ms ease 0s;
      font-size: 16px;
      border-radius: 12px;
      padding: 0.5rem;
      cursor: pointer;
      float: right;
      margin-top: calc((56px - 1.5rem) / 2);
      will-change: transform;
    }

    // Authentication button hover/focus states
    .layout__header_auth_connect:focus,
    .layout__header_auth_connect:hover {
      border: 1px solid rgb(241, 201, 218);
      color: rgb(230, 0, 110);
      transform: scale(0.99);
    }
  }
}

.layout__content {
  padding: 70px 28px 0px 28px;

  .layout__content_sizer {
    max-width: 800px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// Responsiveness
@media screen and (max-width: 500px) {
  .layout__content {
    .layout__content_sizer {
      padding-top: 20px;
    }
  }

  .layout__header {
    height: 60px;

    .layout__header_logo {
      a {
        display: inline-block;
      }

      .layout__header_logo_desktop {
        display: none;
      }

      .layout__header_logo_mobile {
        display: inline-block !important;
      }
    }

    .layout__header_auth {
      > div {
        margin-top: 10px !important;

        > div {
          display: none !important;
        }
      }

      > button {
        margin-top: 10px !important;
      }
    }
  }
}
