.layout__header {
  position: sticky;
  top: 0;
  height: 72px;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.01);
  border-bottom: 1px solid #1C1C22;
  backdrop-filter: blur(40px);


  // Right: logo
  .layout__header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;

    .layout__header_logo_desktop {
      margin-top: 19px;
      width: 32px;
      display: block;
    }

    .layout__header_logo_mobile {
      display: none !important;
      width: 32px;
      margin-top: 14px;
      display: inline-block;
    }

    a {
      transition: ease 0.2s;

      :hover {
        opacity: 0.7;
      }
    }
  }

  // Left: Authentication
  .layout__header_auth {
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-items: center;

    // Connected state
    .layout__header_auth_connected {
      float: right;
      margin-top: 16.5px;
      background-color: rgb(237, 238, 242);
      cursor: pointer;
      border-radius: 12px;

      span {
        font-weight: 500;
      }

      div {
        padding-left: 0.75rem;
        padding-right: 0.5rem;
        display: inline-block;
      }

      button {
        outline: none;
        background-color: rgb(247, 248, 250);
        border: 1px solid rgb(237, 238, 242);
        user-select: none;
        cursor: pointer;
        padding: 0.5rem;
        border-radius: 12px;
        font-size: 16px;
        will-change: transform;
        transition: transform 450ms ease 0s;

        span {
          margin: 0px 0.5rem 0px 0.25rem;
          vertical-align: middle;
        }

        div {
          vertical-align: middle;
        }
      }

      button:focus,
      button:hover {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 153, 201);
        transform: scale(0.99);
      }
    }

    // Authentication button
    .layout__header_auth_connect {
      font-family: VCR, sans-serif;
      background-color: #f5a78814;
      border: none;
      color: var(--color-orange);
      line-height: 20px;
      font-size: 14px;
      border-radius: 8px;
      padding: 12px 16px;
      cursor: pointer;
      text-transform: uppercase;
    }

    // Authentication button hover/focus states
    .layout__header_auth_connect:focus,
    .layout__header_auth_connect:hover {
      opacity: 0.64;
    }
  }
}

.layout__content {
  padding: 70px 28px 0px 28px;

  .layout__content_sizer {
    max-width: 800px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.layout__content_short {
  padding-top: 34px;
}

.layout__footer {
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;

  div {
    width: auto;
    flex: 1 1 50%;
    display: flex;
    align-items: center;

    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;

      li {
        font-size: 14px;
        line-height: 17px;
        color: #7f8082;
        margin: 10px 0px;
      }
    }
  }

  div:nth-of-type(1) {
    justify-content: flex-start;
  }

  div:nth-of-type(2) {
    justify-content: flex-end;
    text-align: right;
  }
}

.card__modal {
  h3 {
    margin: 0px;
    font-weight: 500;
    color: #222;
  }

  p {
    font-size: 15px;
    line-height: 150%;
    color: #5f6476;
    font-weight: 400;

    span {
      color: #e1006d;
      font-weight: 500;
    }

    a {
      color: #3f4aab;
    }

    a:hover {
      opacity: 0.8;
    }
  }

  // TODO: can refactor button to a component itself
  button {
    background-color: var(--color-orange);
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    will-change: transform;
    transition: transform 450ms ease 0s;
  }

  button:hover {
    background-color: rgb(230, 0, 110);
    transform: scale(0.99);
  }

  button:disabled {
    background-color: #f076a5;
    cursor: not-allowed;
  }

  button:disabled:hover {
    background-color: #f076a5;
    transform: none;
  }
}


// Responsiveness
@media screen and (max-width: 850px) {
  .layout__footer {
    padding: 10px 16px;
  }
}

@media screen and (max-width: 500px) {
  .layout__content {
    padding-left: 16px;
    padding-right: 16px;

    .layout__content_sizer {
      padding-top: 20px;
    }
  }

  .layout__content_short {
    padding-top: 64px;
  }

  .layout__header {
    height: 60px;
    padding: 0px 16px;

    .layout__header_logo {
      a {
        display: inline-block;
      }

      .layout__header_logo_desktop {
        display: none;
      }

      .layout__header_logo_mobile {
        display: inline-block !important;
      }
    }

    .layout__header_auth {
      > div {
        margin-top: 10px !important;

        > div {
          display: none !important;
        }
      }

      > button {
        margin-top: 10px !important;
      }
    }
  }
  .card__modal {
    h3 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
      line-height: 150%;
    }

    button {
      font-size: 14px;
      padding: 10px 16px;
    }
  }
}
