.switch {
  border-radius: 8px;
  display: inline-block;
  padding: 12px 4px;
  background-color: #121218;

  a {
    border-radius: 4px;
    font-family: VCR, sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding: 8px 12px;
  }

  a:hover {
    opacity: 0.8;
  }
}

// Active route background color
.switch__active {
  background-color: #f5a78814;
  color: var(--color-orange);
}

// Switch left state bg color
.switch__left,
.switch__right {
  color: #ACACAB;
}