.switch {
  border-radius: 8px;
  display: inline-block;
  padding: 12px 4px;

  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #24262d;
    padding: 8px 12px;
    border-radius: 4px;
  }

  a:hover {
    opacity: 0.8;
  }
}

// Active route background color
.switch__active {
  background-color: white;
}

// Switch left state bg color
.switch__left {
  background-color: #fcd0e1;
}

// Switch right state bg color
.switch__right {
  background-color: #ced9ff;
}
