// Global config
* {
  --color-bg: #f7f5f8;
  --color-orange: #f5a788;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Inter", sans-serif;
}

button:focus {
  outline: none;
}

// Card (generalized) styling
.card__padding {
  padding: 24px 28px;
}

// BNC Onboard lightbox setup
.bn-onboard-modal {
  // Forcefully override all elements
  z-index: 99999;
}

// React-responsive-modal overrides
.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.3) !important;
}

.react-responsive-modal-modal {
  border-radius: 12px;
  max-width: 500px !important;
  width: calc(100% - 40px);
  padding: 24px !important;
}

// Responsive
@media screen and (max-width: 500px) {
  .card__padding {
    padding: 16px;
  }
}
