// Global config
* {
  --color-bg: #f7f5f8;
  --color-pink: #FF007A;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Inter", sans-serif;
}

// Card (generalized) styling
.card__padding {
  padding: 24px 28px;
}

// Web3Modal lightbox setup
.web3modal-modal-lightbox {
  // Forcefully override all elements
  z-index: 99999;
}
