// Global config
* {
  --color-bg: #e5e5e5;
  --color-pink: #e7347a;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
